$medium: 1000px;
$mob: 767px;
$laptop: 1440px;

@mixin lap {
	@media only screen and (max-width: #{$laptop}) {
		@content;
	}
}
@mixin m {
	@media only screen and (max-width: #{$medium}) {
		@content;
	}
}
@mixin mob {
	@media only screen and (max-width: #{$mob}) {
		@content;
	}
}
